h1, h2 {
    text-transform: uppercase;
    text-align: center;
}

#color1, #color2, #color3, #color4, #color5, #color6 {
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
}

.center {
    margin: auto;
    width: 50%;
}